//Colores Primarios
$dark-blue: hsl(198, 62%, 26%);
$dark-desaturated-cyan: hsl(167, 40%, 24%);
$dark-moderate-cyan: hsl(168, 34%, 41%);
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);

//Colores Neutros
$black: hsl(0, 0%, 0%);
$dark-desaturated-blue: hsl(212, 27%, 19%);
$dark-grayish-blue: hsl(213, 9%, 39%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
$cream-white: hsl(25, 100%, 98%);

//Font
$main-font: 'Barlow', sans-serif;
$secondary-font: 'Fraunces', serif;
$title-font: 'Lato', sans-serif;

//Font weight
$bold: 700;
$bolder: 900;
$regular: 600;

//Media Queries
$desktop: 1600px;
$laptop: 1200px;
$phone: 360px;
$tablet: 768px;
