//Colores Primarios
$amarillo: hsl(51, 100%, 49%);
$azul-fuerte: hsl(198, 62%, 26%);
$cian-moderado: hsl(168, 34%, 41%);
$cian-oscuro: hsl(164, 40%, 24%);
$rojo: hsl(7, 99%, 70%);

//Colores Neutros
$blanco: hsl(0, 0%, 100%);
$gris-azulado: hsl(210, 4%, 67%);
$azul-oscuro: hsl(212, 27%, 19%);
$gris: hsl(213, 9%, 39%);

//Font
$fuentePrincipal: 'Barlow', sans-serif;
$fuenteSecundaria: 'Fraunces', serif;

//Font Gruesor
$black: 900;
$bold: 700;
$regular: 600;