//Colores Primarios
$yellow: hsl(51, 100%, 49%);
$dark-blue: hsl(198, 62%, 26%);
$dark-moderate-cyan: hsl(168, 34%, 41%);
$dark-desaturated-cyan: hsl(167, 40%, 24%);
$soft-red: hsl(7, 99%, 70%);
$pink:hsl(11,100%,92%);

//Colores Neutros
$blanco: hsl(0, 0%, 100%);
$gris-azulado: hsl(210, 4%, 67%);
$azul-oscuro: hsl(212, 27%, 19%);
$gris: hsl(213, 9%, 39%);

//Font
$fuentePrincipal: 'Barlow', sans-serif;
$fuenteSecundaria: 'Fraunces', serif;

//Font Gruesor
$black: 900;
$bold: 700;
$regular: 600;