.header {
  height: 143.7vw;

  @include phone {
    background-image: url('/build/img/mobile/image-header.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @include tablet {
    background-image: url('/build/img/desktop/image-header.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
  }

  p {
    color: $white;
    font-family: $secondary-font;
    font-size: 5rem;
    font-weight: $bolder;
    letter-spacing: .8rem;
    margin-top: 20rem;
    text-align: center;
    text-transform: uppercase;

    @include phone {
      font-size: 4rem;
      margin-top: 5rem;
    }
  }

  .arrow {
    bottom: -70px;
    display: block;
    height: 100px;
    margin: 0 auto;
    position: relative;
    @include phone{
      bottom: 0px;
    }
  }
}

.header__content {
  align-items: center;
  color: $white;
  display: flex;
  font-family: $title-font;
  font-weight: $bolder;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 2rem;

  @include phone {
    width: 85%;
  }

  @include tablet {
    width: 95%;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  
  a {
    color: $white;
    padding: 1.2rem 2.2rem;
    text-decoration: none;

    &:last-child {
      background-color: $white;
      border-radius: 20px;
      color: $black;
      font-family: $secondary-font;
      font-weight: $bold;
      text-transform: uppercase;
    }  
  }

  @include tablet {
    width: 500px;
  }
}

.header__nav--desktop {
  @include phone {
    display: none;
  }

  @include tablet {
    display: block;
  }
}

.header__nav--mobile {
  img:hover {
    cursor: pointer;
  }

  @include tablet {
    display: none;
  }
}